// Общие стили для всего приложения
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.blue_title {
  color: #00aeef;
}

// Стили для тёмной темы
.dark_time {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }

  a {
    color: #fff;
  }

  .blue_title {
    color: #4db8ff;
  }

  p{
    color: #e0e0e0;
  }



  // Дополнительные стили для тёмной темы можно добавить здесь
}

.dark_time .card_right{
  background-color: #333 !important;
  color: #fff;

}

.dark_time .top_card{
  background-color: #333 !important;
  color: #fff;
  .card_btn{
    background-color: #434c5d !important;
  }
}
.dark_time .bot_card{
  background-color: #333 !important;
  color: #fff;
  .card_btn{
    background-color: #434c5d !important;
  }
}

.dark_time .rate_card{
  background-color: #333 !important;
  color: #fff;
  .card_btn{
    background-color: #434c5d !important;
  }
}
.dark_time .card_item{
  background-color: #333 !important;
  color: #fff;
  .card_btn{
    background-color: #434c5d !important;
  }
}

.dark_time .title_sect{
  color: #89909c;
}

.dark_time .title_hero{
  color: #89909c;
}

// Другие общие стили...