
.product-card {
  .card {
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    height: 400px; /* Фиксированная высота для всех карточек */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Равномерное распределение содержимого */

    .card-img-top {
      width: 200px;
      height: 150px; /* Фиксированная высота изображений */
      object-fit: cover; /* Сохранение пропорций изображения */
      margin: 0 auto;
      display: block;
    }

    .card-body {
      padding-top: 15px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px;
      }

      .card-text {
        font-size: 14px;
        color: #333;
        margin: 0 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Ограничение текста до 2 строк */
        -webkit-box-orient: vertical;
      }

      .card-price {
        font-size: 16px;
        margin: 0 0 10px;
      }

      .card-status {
        font-size: 14px;
        margin: 0 0 10px;
      }

      .btn {
        background-color: #00aeef;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        margin-top: 10px; /* Отступ сверху для кнопок */

        &:hover {
          background-color: #007acc;
        }
      }
    }
  }
}

.dark_time {
  .product-card {
    .card {
      background-color: #2a2a2a;
      border-color: #444;

      .card-body {
        .card-text {
          color: #e0e0e0;
        }

        .btn {
          background-color: #007acc;

          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  }
}
